body {
    background-color: black;
}

.div {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.things {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagens {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagens img{
    height: 300px;
    width: 90%;
    margin-top: 40px;
    object-fit: cover;
}



.logo {
    height: 300px;
    width: 90%;
    margin-top: 40px;
    object-fit: cover;
}

.img {
    height: 100px;
    width: 90%;
    margin-top: 40px;
    object-fit: cover;
}

.infoo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;

}

.infoText {
    color: white;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.h1{
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 20px;
}

.span {
    color: white;
    font-size: 13px;
    font-family:  'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 20px;
}

.square {
    height: 375px;
    width: 350px;
    background-color: white;
    margin-top: 5em;
    border-radius: 10px;
    margin-right: 1em;
    /* padding: 1em; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 19%;
    gap: var(--size-3);
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;

}

.collection {
    height: 475px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* background-image: url("https://cdn.discordapp.com/attachments/686295205921816686/950866796561440808/unisex-fleece-hoodie-black-front-62277b8c29d5a.png"); */
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin-right: 0.4em;

}

.rrss {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    
}

.footer {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding:4px;
    background-color: white;
    /* border-radius: 10px; */
}

.footerdoc {
    display:flex;
    justify-content: center;
    align-items: center;
}

.imagen {
    
    margin-top:2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imagen img {
    width: 350px;
    height: 350px;
}

.container {
    height: 100vh;
    width: 100%;
}

.divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoo {
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.comprarBtn {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

